@model Librarian.Core.Models.Client

@{
    ViewData["Title"] = "Remove client";
}

<h3>Are you sure you want to remove this client?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
    </dl>
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
